<div class="container">
  <h1>Edition tournoi</h1>
  <div>
    <div class="form-group">
      <label>ID</label>
      <input class="form-control" [(ngModel)]="tournoi.id" readonly placeholder="généré automatiquement">
    </div>
    <div class="form-group">
      <label>Nom</label>
      <input class="form-control" [(ngModel)]="tournoi.nom">
    </div>
    <div class="form-group">
      <label>Date</label>
      <input type="date" class="form-control" [(ngModel)]="tournoi.date">
    </div>
    <div class="form-group">
      <label>Nombre de rondes</label>
      <input type="number" class="form-control" [(ngModel)]="tournoi.nbRondes">
    </div>
    <div class="form-group">
      <label>Salle</label>
      <input class="form-control" [(ngModel)]="tournoi.salle">
    </div>
    <div class="form-group">
      <label>Frais d'inscription</label>
      <input type="number" class="form-control" [(ngModel)]="tournoi.fraisInscription">
    </div>
    <div class="form-group">
      <label>Prix</label>
      <input type="number" class="form-control" [(ngModel)]="tournoi.prix">
    </div>
    <div class="form-group">
      <label>Cadence</label>
      <select class="form-control" [(ngModel)]="tournoi.cadence">
        <option *ngFor="let c of cadenceOptions" [value]="c" [label]="cadence[c]">{{[c]}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Arbitre</label>
      <input class="form-control" [(ngModel)]="tournoi.arbitre">
    </div>
    <div class="form-group">
      <label>Organisateur</label>
      <input class="form-control" [(ngModel)]="tournoi.organisateur">
    </div>
    <div class="form-group">
      <label>Parties</label>
      <input class="form-control" [(ngModel)]="tournoi.parties">
    </div>
    <div class="form-group">
      <label>Participations</label>
      <input class="form-control" [(ngModel)]="tournoi.participations">
    </div>
    <div class="text-center">
      <button class="btn btn-outline-success" (click)="save()">
        <svg class="bi bi-check2-square" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd"
                d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>
        </svg>
      </button>&nbsp;
      <a [routerLink]="['/tournoi']" routerLinkActive="active" class="btn">
        <div class="btn btn-outline-warning"><svg class="bi bi-x-square" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path fill-rule="evenodd"
                d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd"
                d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
        </svg>
        </div>
      </a>
    </div>
  </div>
</div>
