<div class="container">
  <a [routerLink]="['/tournoi','edit']" class="btn btn-link">Nouveau tournoi</a>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Date</th>
      <th>Nombre de rondes</th>
      <th>Salle</th>
      <th>Frais d'inscription</th>
      <th>Prix</th>
      <th>Cadence</th>
      <th>Arbitre</th>
      <th>Organisateur</th>
      <th>Parties</th>
      <th>Participations</th>
      <ng-container *ngIf="role=='ROLE_ADMIN'||role=='ROLE_MODO';else nonModo">
        <th></th>
        <th></th>
      </ng-container>
      <ng-template #nonModo>
      </ng-template>
    </tr>
    <tr *ngFor="let t of tournois">
      <td class="align-middle text-right">{{t.id}}</td>
      <td class="align-middle">{{t.nom}}</td>
      <td class="align-middle">{{t.date}}</td>
      <td class="align-middle">{{t.nbRondes}}</td>
      <td class="align-middle">{{t.salle}}</td>
      <td class="align-middle">{{t.fraisInscription}}</td>
      <td class="align-middle">{{t.prix}}</td>
      <td class="align-middle">{{t.cadence}}</td>
      <ng-container *ngIf="t.arbitre;else quelqueChose">
        <td>{{t.arbitre.prenom}} {{t.arbitre.nom}}</td>
      </ng-container>
      <ng-template #quelqueChose>
        <td></td>
      </ng-template>
      <ng-container *ngIf="t.organisateur;else quelqueChose">
        <td class="align-middle">{{t.organisateur.nom}}</td>
      </ng-container>
      <ng-template #quelqueChose>
        <td></td>
      </ng-template>
      <td class="align-middle">{{t.parties}}</td>
      <td class="align-middle">{{t.participations}}</td>
      <ng-container *ngIf="role=='ROLE_ADMIN'||role=='ROLE_MODO';else nonModo">
        <td class="align-middle">
          <a class="btn btn-outline-info" [routerLink]="['/tournoi/edit']" routerLinkActive="active"
             [queryParams]="{id:t.id}">
            <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
              <path fill-rule="evenodd"
                    d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
            </svg>
          </a>
        </td>
        <td class="align-middle">
          <button class="btn btn-outline-danger" (click)="delete(t.id)">
            <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </button>
        </td>
      </ng-container>
      <ng-template #nonModo>
      </ng-template>
    </tr>
  </table>
</div>
