<div id="carouselExampleControls"
     class="carousel slide text-center" data-ride="carousel">
  <div class="carousel-inner text-center">
    <div class="carousel-item active text-center"
         style="background-image: url('../assets/images/ClubCarrousel.jpg'); background-size: cover;background-position: center">
      <h2 class="text-light">Rejoignez un club !</h2>
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="carousel-item text-center"
         style="background-image: url('../assets/images/TournoiCarrousel.jpg'); background-size: cover;background-position: top">
      <h2 class="text-light">Participez à des tournois !</h2>
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="carousel-item"
         style="background-image: url('../assets/images/PartieCarrousel.jpg'); background-size: cover;background-position: center">

      <h2 class="text-light">Défiez des joueurs !</h2>
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
  <a class="carousel-control-prev bg-light col-1" href="#carouselExampleControls"
     role="button" data-slide="prev"> <span
    class="carousel-control-prev-icon" aria-hidden="true"></span> <span
    class="sr-only">Previous</span>
  </a> <a class="carousel-control-next bg-light col-1" href="#carouselExampleControls"
          role="button" data-slide="next"> <span
  class="carousel-control-next-icon" aria-hidden="true"></span> <span
  class="sr-only">Next</span>
</a>
</div>
