<div class="container">
  <br>
  <h1>Edition membre</h1>
  <div>
    <div class="form-group" style="display: none;">
      <label>ID</label>
      <input class="form-control" [(ngModel)]="membre.id">
    </div>
    <div class="form-group">
      <label>Civilité</label>
      <select id="civilite" class="form-control" [(ngModel)]="membre.civilite">
        <option *ngFor="let m of civiliteOptions" [value]="m" [label]="_civilite[m]">{{[m]}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Prénom</label>
      <input class="form-control" [(ngModel)]="membre.prenom">
    </div>
    <div class="form-group">
      <label>Nom</label>
      <input  class="form-control" [(ngModel)]="membre.nom">
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" [(ngModel)]="membre.email">
      </div>
      <label>Nationalité</label>
      <select class="form-control" [(ngModel)]="membre.nationalite">
        <option *ngFor="let n of nationaliteOptions" [value]="n" [label]="_nationalite[n]">{{[n]}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>ELO</label>
      <input type="number" class="form-control" [(ngModel)]="membre.elo">
    </div>
    <div class="form-group">
      <label>Club</label>
      <input class="form-control" [(ngModel)]="membre.club">
    </div>
    <div>
      <button class="btn btn-info" (click)="save()">Sauvegarder</button>&nbsp;
       <a class="btn btn-outline-dark" [routerLink]="['/membre']" routerLinkActive="active">Annuler</a>
    </div>
    <br>
  </div>
</div>
