<div class="container">
  <h1>Inscription</h1>
  <div *ngIf="erreur" class="alert alert-danger">Certaines données sont incorrectes</div>
  <div>
    <form (ngSubmit)="inscription()" [formGroup]="inscriptionForm">
      <div class="form-group">
        <label>Identifiant :</label>
        <input class="form-control" formControlName="login" [(ngModel)]="user.login">
        <div *ngIf="loginCtrl.dirty&&loginCtrl.hasError('required')" class="alert alert-danger">
          Il faut choisir un identifiant
        </div>
        <div *ngIf="loginCtrl.dirty&&loginCtrl.hasError('nonDisponible')" class="alert alert-danger">
          Cet identifiant est déjà utilisé
        </div>
      </div>
      <div *ngIf="hide" class="form-group">
        <label>Mot de passe :</label>
        <input id="pwd" class="form-control" formControlName="password" [(ngModel)]="user.password" type="password">
        <div *ngIf="passwordCtrl.dirty&&passwordCtrl.hasError('required')" class="alert alert-danger">
          Un mot de passe est obligatoire
        </div>
        <div *ngIf="passwordCtrl.dirty&&passwordCtrl.hasError('pattern')" class="alert alert-warning">
          Le mot de passe doit contenir au moins 8 caractères dont une minuscule, une majuscule et un chiffre
        </div>
        <button class="btn btn-link" onclick="if (pwd.type == 'text') pwd.type = 'password'; else pwd.type = 'text';">
          <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path fill-rule="evenodd"
                  d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg>
        </button>
      </div>
      <div class="form-group">
        <label>Confirmer le mot de passe :</label>
        <input id="cfm" class="form-control" formControlName="confirme" type="password">
        <div *ngIf="confirmeCtrl.dirty&&confirmeCtrl.hasError('required')" class="alert alert-danger">
          Veuillez confirmer votre mot de passe
        </div>
        <div *ngIf="confirmeCtrl.dirty&&inscriptionForm.hasError('nonIdentique')" class="alert alert-warning">
          Les mots de passe ne sont pas identiques
        </div>
        <button class="btn btn-link" onclick="if (cfm.type == 'text') cfm.type = 'password'; else cfm.type = 'text';">
          <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path fill-rule="evenodd"
                  d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg>
        </button>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-primary" [disabled]="inscriptionForm.invalid">
          <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </button>
        <a routerLink="/home" routerLinkActive="active" class="btn btn-outline-danger">
          <svg class="bi bi-door-closed-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
      </div>
    </form>
  </div>
</div>
